{% extends 'base.html.1.twig' %}

{% block body %} 

<img width="100" height="100" src="https://media.licdn.com/dms/image/C4D0BAQFYpAkhIY8pig/company-logo_200_200/0?e=1583971200&v=beta&t=iMXVS_9gIWqn9RrJy66Mtg7Cq4SMq-6ZzCLZBHT9m3o"/>

<div class="row">

 <div class="col-sm-4">
    <h6 style="color:#f2e364; font-weight:bold">  VBL ADVISORY </h6> 
    <div style="font-size:14px"> 1 Place Charles De Gaulle </div>
    <div style="font-size:14px"> 78180 Montigny Le Brettoneux </div> 
    <div style="font-size:14px"> contact@vbladvisory.com </div>
    <div style="font-size:14px"> +33 6 61 69 49 12 </div> 
    <div style="font-size:14px"> www.vblconsiel.com </div>
    <br>
    <div style="font-size:14px"> N° SIRET : 78990986800026 </div>
    <div style="font-size:14px"> Code APE : 7022Z </div>
    <div style="font-size:14px"> N° TVA Intracommunautaire : FR22789909868 </div>

 </div> 



   <div class="col-sm-4 offset-sm-6">  
       <h6 style="color:#f2e364; font-weight:bold"> Facture  {{reference}} </h6>
       <div style="font-size:14px"> {{clientCompany}} </div> 
       <div style="font-size:14px"> {{clientAdress}} </div> 
       <div style="font-size:14px"> {{clientAdressePostal}} </div>
       <div style="font-size:14px">  Telephone: {{clientPhone}} </div> 
         

     
  </div> 
  
</div> 

<div class="row">
       <div class="offset-9"> Paris,le {{factureDateFormat}} </div>
  </div>

  





    <table class="table" style="border:0.25px solid grey"> 
      <thead>
        <tr style="background:#f2e364">
            <th class="text-center" style="color:white"> Reference </th>
            <th class="text-center" style="color:white"> Designation </th>
            <th class="text-center" style="color:white"> Quantité </th>
            <th class="text-center" style="color:white"> P.U HT </th>
            <th class="text-center" style="color:white"> Montant HT </th>
            <th class="text-center" style="color:white"> TVA </th>
        </tr> 
      </thead> 

      <tbody> 
          <tr>
            <td class="text-center" style="border-right:1px solid grey"> {{reference}} </td>
            <td class="text-center" style="border-right:0.25px solid grey"> <div>prestation  de service VBL Consiel {{actualMonth}} 20{{billingYear}} </div>
             {{consultantName}} </td>
            <td class="text-center" style="border-right:0.25px solid grey"> 1 </td>
            <td class="text-center" style="border-right:0.25px solid grey"> N/A </td>
            <td class="text-center" style="border-right:0.25px solid grey"> {{projectPrice}} € </td>
            <td class="text-center" style="border-right:0.25px solid grey"> 20% </td>
            
          </tr> 

          <tr>
             <td colspan="3" style="border-right:0.25px solid grey">
                <div>conditions de reglement: par virement </div>
                <div> IBAN  FR76 3000 4025 9400 0100 0980 677 </div>
                <div> BIC BNPAFRPPXXX </div>
                <div> Domiciliation: BNPPARB PERRAY YVELINES(02594) </div>
                <div> Contact : </div> 
                <div> Bernardo VANDEN BERGHE – Associé </div>
                <div>  Tél: 06.61.69.49.12. </div>
                <div> Mail: bernardovandenberghe@vbladvisory.com </div> 
                

             </td> 

             <td colsapn="2" style="border-right:0.25px solid grey"> 
                <h6> Total H.T </h6>
                <h6> TVA </h6>
                <h6> Montant  </h6>
                <h6> Net A Payer </h6>

             </td>

             <td colspan="2" style="border-right:0.25px solid grey;border-bottom:0.25px solid grey">
                <h6> {{projectPrice}} </h6>
                <h6> 20% </h6>
                <h6> {{projectPrice * 1.2 }} € </h6>
                <h6> {{projectPrice * 1.2}} € </h6>

             </td>

          </tr> 

         <tr style="border-right:0.25px solid grey;border-left:0.25px solid grey"> 
          <td colspan="3">

          </td> 

          <td colspan="3" style="border-left:0.25px solid grey">
               <div> Echeance: Des Reception de la facture </div>
               <div> Soit un montant de: EUROS </div>
          </td>

         </tr>




      </tbody>

    </table>


{% endblock %}