{% extends 'base.html.twig' %}

{% block body %} 

 {% if app.session.get('moins') is empty %}
    <h4 class="alert alert-danger text-center rounded-pill"> Attention, vous avez travaillé {{app.session.get('difference')}} jours de {{app.session.get('plus')}} que prevu selon vos journées d'absence pour ce mois</h4>
  {% endif %} 

  {% if app.session.get('plus') is empty %}
     <h4 class="alert alert-danger text-center rounded-pill"> Attention, vous avez travaillé {{app.session.get('difference')|abs}} jours de {{app.session.get('moins')}} que prevu selon vos journées d'absence pour ce mois </h4>



  {% endif %} 




   
  
  

   <div class="modal" id="modal-window" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-absolute" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title alert alert-warning text-center rounded-pill">Souhaitez vous générer votre relevé d'activité en l'état ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{form_start(form)}} 
          <div class="row">
              <div class="col-sm-4 offset-sm-1"> {{form_row(form.yes)}} </div>

             <div  class="col-sm-4 offset-sm-2"> {{form_row(form.no)}} </div>
          </div>
         {{form_end(form)}} 
      </div>
      <div class="modal-footer">
         
      </div>
    </div>
  </div>
</div> 


 




{% endblock %}


{% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 



    <script>

     
        $(function(){ 
           var $modal=$('#modal-window');
           console.log($modal);

           function showModal(){
           $modal.modal('show');
           $modal.css('position','absolute');
           $modal.css('top','150px')
           }

           setTimeout(showModal,1000);

           
           
        })


    </script>
        
{% endblock %}

